.box-layout {
  height: 100vh;
  width : 100vw;
}

.box-layout__dashboard {
  @extend .box-layout;
  background     : url('/images/book1.jpg');
  background-size: cover;
  position: absolute;
  left    : 0;
  right   : 0;
  bottom  : 0;
}