.content-container {
  margin   : auto;
  padding  : 0 $m-size;
  max-width: 80%;
}

.content-container_book_list {
  @extend .content-container;
  max-width            : 90%;
  display              : grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows   : auto auto auto auto auto auto;
  grid-column-gap      : 2%;
  grid-row-gap         : 15px;
}

.content-container_author_list {
  @extend .content-container;
  max-width            : 90%;
  display              : grid;
  grid-template-columns: auto auto auto;
  grid-template-rows   : auto auto auto auto auto auto;
  grid-column-gap      : 2%;
  grid-row-gap         : 15px;
}

.page-header {
  background   : $off-white;
  padding      : $l-size 0;
  margin-bottom: $l-size;
}

.page-header__title {
  font-weight: 300;
  margin     : 0;

  span {
    font-weight: bold;
  }
}