.content-container {
  margin   : auto;
  padding  : 0 $m-size;
  max-width: 80%;
}

.content-container_book_list {
  @extend .content-container;
  max-width            : 90%;
  margin-top           : 10px;
  display              : grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows   : auto auto auto auto auto auto;
  grid-column-gap      : 2%;
  grid-row-gap         : 15px;
}

.content-container_author_list {
  @extend .content-container;
  max-width            : 90%;
  margin-top           : 10px;
  display              : grid;
  grid-template-columns: auto auto auto;
  grid-template-rows   : auto auto auto auto auto auto;
  grid-column-gap      : 2%;
  grid-row-gap         : 15px;
}

.search_container {
  @extend .content-container;
  width    : 80%;
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
}

.header-container {
  @extend .content-container;
  margin         : 0;
  max-width      : 100%;
  display        : flex;
  text-align     : center;
  justify-content: space-between;
}

.form-container {
  margin-bottom: 5rem;
}