.search-box {
  background   : $light-black;
  height       : 5rem;
  width        : 100%;
  border-radius: 40px;
  padding      : 0 6px;
}

.search-btn {
  float          : right;
  width          : 5%;
  height         : 100%;
  border-radius  : 50%;
  background     : $light-black;
  display        : flex;
  justify-content: center;
  align-items    : center;
  transition     : 0.4s;
  cursor         : pointer;
  color          : white;
  padding        : 2rem;
  font-size      : 3rem;
  position       : fixed right;
}

.search-txt {
  border     : none;
  background : none;
  outline    : none;
  float      : left;
  padding    : 1.25rem;
  color      : white;
  font-size  : 2rem;
  transition : 0.4s;
  line-height: 40px;
  width      : 92%;
  font-weight: 600;
}